

body {
    background-image: url(../Assets/font_register.jpg);
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:large;
}

h6 {
    font-size:medium;
}


.logo {
    width:150px;

}

.conteneur, .logo_conteneur {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.background_color {
    background-color:white;
    padding : 1% 5% 1% 5%;
    opacity: 0.8;
}

.cta {
    display:flex;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    min-width: 10em;
    height: 50px;
    cursor: pointer;
    background:black;
    border: 1px solid #000000;
    transition: 0.5s ease-in-out;
    font-size:large;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    margin-top : 70px;
    margin-bottom: 30px;
}

input[type=text], input[type=password]{
        min-width: 8em;
        height: 40px;
        background:white;
        border: 1px solid #000000;
        transition: 0.5s ease-in-out;
        font-size:large;
        color: black;
        border-radius: 6px;
}

.error {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteneur_again {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.padding {
    padding : 10px;
    margin-top : 10px;
}

.already {
    display:flex;
    flex-direction: row;
    justify-content:start;
    align-items:start;
    text-decoration: none;

}

.button {
    min-width: 8em;
    height: 50px;
    background:black;
    cursor: pointer;
    border: 1px solid #000000;
    transition: 0.5s ease-in-out;
    font-size:large;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    font-size:medium;
    text-decoration: none;

}

.button:hover {
    background: #9d5be6;
    color: rgb(255, 255, 255);
    border: 1px solid #9d5be6;
    border-radius: 6px;
    transition: 0.5s ease-in-out;
    text-shadow: none;  
}

.button:active {
    text-decoration: none;
}

.button:focus {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


