

body {
    background-image: url(../Assets/font_register.jpg);
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}


.logo {
    width:300px;

}

.conteneur, .logo_conteneur {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    
}


.background_color {
    background-color:red;
    padding : 2% 5% 1% 5%;
}

.cta {
    margin:auto;
}

input[type=submit] {
    min-width: 10em;
    height: 50px;
    cursor: pointer;
    background:black;
    border: 1px solid #000000;
    transition: 0.5s ease-in-out;
    font-size:large;
    color: rgb(255, 255, 255);
    border-radius: 6px;
}


