

body {
    background-image: url(../Assets/font_register.jpg);
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:large;
}

h6 {
    font-size:medium;
}


.logo {
    width:150px;

}

.conteneur, .logo_conteneur {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.background_color {
    background-color:white;
    padding : 1% 5% 1% 5%;
    opacity: 0.8;
}

.cta {
    display:flex;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    min-width: 10em;
    height: 50px;
    cursor: pointer;
    background:black;
    border: 1px solid #000000;
    transition: 0.5s ease-in-out;
    font-size:large;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    margin-top : 70px;
    margin-bottom: 30px;
}

input[type=text], input[type=password], input[type=email]{
        min-width: 8em;
        height: 40px;
        background:white;
        border: 1px solid #000000;
        transition: 0.5s ease-in-out;
        font-size:large;
        color: black;
        border-radius: 6px;
}

.error {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteneur_again {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.padding {
    padding :10px;
}


