/*Menu*/

.logo{
  float: left;
  width: 30%;
  height: 20%;
}

#menus {
    
  background-color: rgb(255, 255, 255);
  font-size:larger;

}

#menus ul {
    
  display:flex;
  justify-content:space-around;
  align-items:center;
  list-style:none;
  color:black;
  flex-wrap:wrap;
  padding:1%;
  

}

#menus ul a {
    
  color:black;
  text-decoration: none;
}


nav{
  width:100%;
  height:50%;
  margin:auto;
  /* position:fixed; */

}

nav a {
  --b: 0.1em;   /* the thickness of the line */
  --c: #000000; /* the color*/ 

  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .2s calc(.2s - var(--_s,0s));
}

nav a:hover {
  --_p: 100%;
  --_s: .2s;
}

/* login */

.login:hover {
transition: 0.5s ease-in-out;
background: #303030;
}

.login:hover svg {
stroke-dashoffset: -480;
}

.login span {
color: rgb(0, 0, 0);
font-size: 18px;
font-weight: 100;
}

.login {
width: auto;
height: auto;
cursor: pointer;
background:black;
border: 1px solid #000000;
transition: 0.5s ease-in-out;
float: right;
font-size:large;
color: rgb(255, 255, 255);
border-radius: 6px;
padding : 1%;
margin : 15px;
}

.login2 {
width: auto;
height: auto;
cursor: pointer;
background:black;
border: 1px solid #000000;
transition: 0.5s ease-in-out;
float: right;
font-size:large;
color: rgb(255, 255, 255);
border-radius: 6px;
padding : 20%;
}

.logins {
  min-width: 10em;
  height: 50px;
  cursor: pointer;
  background:black;
  border: 1px solid #000000;
  transition: 0.5s ease-in-out;
  font-size:large;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  float:inline-end;
}




.formMount {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
  flex-wrap:wrap;

}

.filter {
  display:flex;
  flex-direction: column;
  align-items:center;
  padding: 15%;
  flex-wrap:wrap;
  font-size: larger;
color:white;

  
}
header {
    
  width: 100%;
}

.imgHeaderMount {
  background-image: url(../Assets/font_home.jpg);
  background-size:cover;
  height:800px;
  width:100%;
}



.conteneur {
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:large;
  }
  
  .title {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size:2em;
  }
  
  body {
    
    margin : 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:large;
  }

  main {
    background-image: url(../Assets/font_register.jpg);
    background-size: cover;
  }

  
  
  
  .logo {
    width:50px;
  
  }
  
  .photo {
    width : 300px;
  }
  
  .conteneur, .logo_conteneur {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login {
    display: flex;
    flex-direction: row;
  }
  
  /* input[type=submit] {
    min-width: 10em;
    height: 50px;
    cursor: pointer;
    background:black;
    border: 1px solid #000000;
    transition: 0.5s ease-in-out;
    font-size:large;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    margin-top : 70px;
    margin-bottom: 30px;
  } */

  .button {
    min-width: 10em;
    height: 50px;
    cursor: pointer;
    min-width: 8em;
    height: 50px;
    background:black;
    border: 1px solid #000000;
    transition: 0.5s ease-in-out;
    font-size:large;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    font-size:large;
    text-decoration: none;
    margin : 10px;
  
    margin-bottom: 30px;

}

.button:hover {
    background: #9d5be6;
    color: rgb(255, 255, 255);
    border: 1px solid #9d5be6;
    border-radius: 6px;
    transition: 0.5s ease-in-out;
    text-shadow: none;  
}
  
  /* Affichage des résultats de jeux */
  
  .article {
    width:90%;
    margin:auto;
    align-items: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(201, 190, 195, 0.95);
    margin-bottom:10px;
    margin-top : 10px;
  }

  h3 {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-items: left;
    margin-left:10px;
  }

  .ligne{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .ligne div {
    display: flex;
    align-items: center;
  }
  
  /* padding et margin autour du bloc */
  
  .article div {
    
    margin-bottom:10px;
    flex-wrap: wrap;
  
    /* padding:1%; */
  
    
  }
  
  /* format de l'image */
  
  .photoMount {
    /* max-width:15%; */
    width:200px;
    height:auto;
    margin-left:10px;
    flex-wrap: wrap;
    display:flex;
    justify-content: right;
  
  }
  
  
  .articleMount {
    display:flex;
    flex-direction: row;
    background-color: rgba(201, 190, 195, 0.18);
    margin-top:1%;
    align-items: center;
    flex-wrap: wrap;
    flex:1;
    
    
  }
  .articleMount, img{
    flex:3;
    
    
  }
  .difficulty {
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  
  }
  .picto {
  width:30px;
  padding-right: 10px;
  
  } 
  
  /* proportion du texte dans la div */
  
  .textMount {
    flex:2;  
  }
  
  .textMount h3 {
  padding:2%;
  
  }
  
  .criteriaMount {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  
  /* flex-wrap: wrap; */
  
  }

  
  
  